$background_base: #22272e;
$background_accent: #2d333b;

$theme: #a97594;
$theme_text: saturate(lighten($theme, 10%), 40%);

$muted: #373e47;

.battery {
    &.charging {
	color: $theme_text;
    }

    .label {
        padding-left: 10px;
    }
}

.clock {
    all: unset;
    min-width: 100px;
    font-family: monospace;

    image {
        margin-right: 5px;
    }

    .separator {
        color: $theme_text;
        font-weight: 900;
    }
}

.network {
    font-weight: bold;

    .label {
        padding-left: 10px;
    }
}

.music_status {
    all: unset;
    font-weight: bold;
    font-family: cursive;

    .separator {
        font-weight: 900;
        color: $theme_text;
    }
    
    &:hover {
        background-color: $background_accent;
    }
}

.background {
    background-color: transparent;
}

.main {
    padding: 10px 10px 0 10px;
}

.panel {
    all: unset;
    background-color: $background_base;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
}

.button_panel {
    all: unset;
    font-weight: bold;
    background-color: $background_base;
    border-radius: 5px;
    color: #fff; 
}

.btn {
    all: unset;
    padding: 5px 10px;
    background-color: transparent;

    &.active {
        background-color: $theme;
    }

    &:not(.active):hover {
        background-color: $background_accent;
    }

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.metric {
    all: unset;
    font-weight: bold;
    background-color: $background_base;
    border-radius: 5px;
    color: #fff;

    .label {
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .value {
        margin-right: -50px; 
    }


    &.left {
        scale {
            margin-right: 0;
            margin-left: 3px;
        }

        .value {
            margin-right: 0;
            margin-left: -100px;
        }
    }

    scale {
        all: unset;
        margin-right: 3px; 

        trough {
            all: unset;
            background-color: $background_accent;
            border-radius: 2px;
            min-height: 24px;
            min-width: 100px;

            slider {
                all: unset;
            }

            highlight {
                all: unset;
                background-color: $theme;
                color: #000000;
                border-radius: 2px;
            }
        }
    }
}

* {
    font-family: "Fira Sans", sans-serif;
}

.actions {
    background-color: $background_accent;
    border: 3px solid $background_base;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;

    .heading {
        font-size: 17px;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
        
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    .action {
        all: unset;
        padding: 5px 10px;
        background-color: $background_base;
        border-radius: 5px;
        border: 2px solid transparent;

        &:hover {
            background-color: transparent;
            border: 2px solid $background_base;
        }
    }
}
